{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url 'accounts:detail' %}">My Account</a></li>
    <li class="active">Change Password</li>
  </ul>

  <h1>Changing My Password</h1>

  <p>Please fill out the form to change your password.</p>

  <form action="" method="post">
      <div style="display:none">
          <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
      </div>
      {{ form.email.errors }}
      {{ form|crispy }}
      <input type="submit" value="Reset password"  class="btn btn-primary"/>
  </form>
{% endblock %}