{% extends 'base.html' %}

{% block title %}Questions{% endblock title %}

{% block content %}
        {% for question in object_list %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3><a href="{% url 'question-detail' question.pk %}">{{ question.question_text }}</a></h3>
            </div>
            <div class="panel-body">
              Published on {{ question.pub_date }}
            </div>
          </div>
        {% empty %}
          No questions. <a href="{% url 'question-create' %}">Add one!</a>
        {% endfor %}
        <a class="btn btn-primary" href="{% url 'question-create' %}">Add a Question</a>
{% endblock content %}
