{% extends 'base.html' %}

{% block title %}{{ object.question_text }}{% endblock title %}

{% block content %}
    <h1 id="question-title">
      {{ object.question_text }}
    </h1>
    <p>
      {% if object.active %}
        <a id="choice-add" class="btn btn-success btn-xs" href="{% url 'choice-create' object.pk %}">
          <i class="fa fa-plus"></i> Add a choice!
        </a>
      {% endif %}
      {% if request.user.is_authenticated and request.user == object.user and object.active %}
        <a id="question-close" class="btn btn-xs btn-danger">
          <i class="fa fa-times"></i> Close this Question
        </a>
        <a id="question-private" class="btn btn-xs btn-info">
          <i class="fa fa-key"></i> Make this Question
          {% if object.private %}Public{% else %}Private{% endif %}
        </a>
      {% endif %}
    </p>
    {% if not object.active %}
      <div class="alert alert-danger">
        <p>
          This question has been closed and cannot be voted on.
        </p>
      </div>
    {% endif %}
    <table class="table table-striped">
    {% for choice in object.choice_set.all %}
        <tr>
            <th>
                {{ choice.choice_text }}
            </th>
            <th>
                <span class="num-votes">{{ choice.votes }}</span>
              {% if question.active %}<a data-href="{% url 'choice-vote' choice.pk 'up' %}" class="vote pull-right btn btn-xs btn-primary">&plus;</a>{% endif %}
            </th>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}

{% block extra_scripts %}
    <script>
        $(document).on('ready', function () {
            $('.vote').on('click', function (e) {
                e.preventDefault();
                $this = $(this);
                $.get($this.data('href'), function (data) {
                    $this.siblings('.num-votes').text(data);
                });
            });
            $('#question-close').on('click', function () {
              $.post(
                '{% url "question-close" object.pk %}',
                {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                function () {
                  $('#question-title').after(
                    '<div class="alert alert-success">This question has been closed.</div>'
                  );
                  $('#question-close').hide();
                  $('.vote, #choice-add').hide();
                }
              );
            });
        });
    </script>
{% endblock extra_scripts %}
