{% extends 'base.html' %}

{% block title %}Questions{% endblock title %}

{% block extra_styles %}
<style>
  h3 {
    margin: 0;
  }
</style>
{% endblock extra_styles %}

{% block content %}
  {% for question in object_list %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><a href="{% url 'question-detail' question.pk %}">{{ question.question_text }}</a></h4>
      </div>
      <div class="panel-body">
        Published by {{ question.user }} on {{ question.pub_date }}
      </div>
    </div>
  {% empty %}
    No questions. <a href="{% url 'question-create' %}">Add one!</a>
  {% endfor %}
  <a class="btn btn-primary" href="{% url 'question-create' %}">Add a Question</a>
{% endblock content %}
